<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cattaka.android.snippets.example">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />

    <application
        android:name=".core.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CodeLabelExampleActivity" />
        <activity android:name=".SimpleStringExampleActivity" />
        <activity android:name=".RecyclerViewHeaderExampleActivity" />
        <activity android:name=".MultiAdapterExampleActivity" />
        <activity android:name=".ComplexStringExampleActivity" />
        <activity android:name=".ScrambleAdapterExampleActivity" />
        <activity android:name=".OperatableListExampleActivity" />
        <activity android:name=".NestedScrambleAdapterExampleActivity" />
        <activity android:name=".TreeItemAdapterExampleActivity" />
        <activity android:name=".ChoosableTreeItemAdapterExampleActivity" />
        <activity android:name=".GitHubReposActivity" />
        <activity android:name=".ViewSnapperExampleActivity" />
        <activity android:name=".AnimateConstraintLayoutActivity" />
        <activity android:name=".CameraApi2ExampleActivity" />
        <activity android:name=".AppBarLayoutExample1Activity" />
        <activity android:name=".AppBarLayoutExample2Activity" />
        <activity
            android:name=".ControlStatusBarColorActivity"
            android:theme="@style/NoActionBarAppTheme" />
        <activity android:name=".CheckCameraOrientationActivity" />
        <activity android:name=".Issue212316ParrierExampleActvity" />
        <activity android:name=".PickFromGooglePhotosActivity" />
        <activity android:name=".MotionLayoutSwitchSceneActivity" />
        <activity android:name=".MotionLayoutStretchableSurfacesActivity" />
        <activity android:name=".MotionLayoutMorphActivity" />
        <activity android:name=".MotionLayoutProgressActivity" />
        <activity android:name=".AccountsListActivity" />
        <activity android:name=".dialog.AccountEditActivity" />

        <service android:name=".service.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>